.intro
{
  font-size: 14px;
  margin: 15px;
  text-align: justify;
}


/*Colores:*/
/*
.colores{
  
    background: #f47721

      background: #7ac143

      background:   #00a78e

      background:   #00bce4

      background:     #7d3f98
}
.container
{
  background: #7ac143;
}
*/

/*
.container
{
  color: white;
}
*/


.logo
{
  color: white;
}
.header
{
  background: #00bce4;
}

.footer, .header
{
  background: #00bce4;
  height: 80px;
}

/*Colores del when2meet*/
.colorTodos
{
  background-color: #559919;
  color: white;
}
.colorCasiTodos
{
  background-color: #31DD24;
  color: white;
}
.colorMedia
{
  background-color: #DFDE19;
  color: white;
}
.colorBaja
{
  background-color: #DF9919;
  color: white;
}
.colorMuyBaja
{
  background-color: #DF4119;
  color: white;
}
.colorNinguno
{
  background-color: #75220D;
}

.news
{
  padding: 0px 60px;
}

.about
{
  padding: 0px 60px;
}

.Alex
{
  color: orange;
  font-weight: 800;
}

.Pablo
{
  color: blue;
  font-weight: 800;
}

.message
{
  padding: 0px 30px;
  font-style: italic;
  font-weight: 200;
}

.card
{
  margin-top: 15px;
}

/*Menú de project.php*/

#menu ul{
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
/*  background-color: #123E7A;*/
  color: white;
}

#menu ul li{
  float: left;
  padding: 10px 20px;
}

#menu ul li.selected, #menu ul li:hover{
/*  background-color: white; */
/*  color: #32317F;*/
}

#menu ul li:hover{
  cursor: pointer;   
}

#tabcontent > div{
  display: none;
  padding: 5px;
  margin-top: 0px;
}

#tabcontent > div.active{
  display: block;   
}